$typography: (
  h1: 96px,
  h2: 60px,
  h3: 48px,
  h4: 34px,
  h5: 24px,
  h6: 20px,
  subtitle1: 16px,
  subtitle2: 14px,
  body1: 16px,
  body2: 14px,
  button: 14px,
  caption: 12px,
  overline: 14px,
);